MONAD_RPC_URL=https://rpc.monad.xyz
DEPLOYER_PRIVATE_KEY=
ENERGY_ADMIN_ADDRESS=
ASCENSION_STAKING_ADDRESS=0xf9611226c1CcCcCa37951938d6f358D3d5106549
ENERGY_CREDIT_SIGNER_ADDRESS=
ENERGY_CREDIT_SIGNER_PRIVATE_KEY=

# Site/runtime env after deployment:
ENERGY_BANK_ADDRESS=
