.env
.env.local
.DS_Store
*.icloud
node_modules/
.next/
dyoor-builder/layers/_disabled/
*backup*.html
*backup*.js
*backup*.css

# Local Netlify folder
.netlify
deno.lock
artifacts/
cache/
.env
tsconfig.tsbuildinfo
